#title {
  text-align: center;
  margin-top: 2%;
  font-size: 2vw;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  color: black;
  display:inline-block;
  margin-left: 25%;
}

#subtitle {
  text-align: right;
  font-size: 1.8vw;
  color: black;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  display:inline-block;
  margin-left: 25%;
}

#hrmm {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30vw;
  margin-top: 2%;
}

#skhrm {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40vw;
}

body {
  background-color: white;
}

.clicky {
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  color: black;
  margin-left: 5%;
  margin-right: 5%;
  cursor: pointer;
}

#linque {
  position: absolute;
  bottom: 3vw;
  color: black;
  margin-left: 3%;
  cursor:pointer;
}

#hhhhghgh {
  font-size: 3vw;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  font-size: 1.8vw;
  color: black;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  color: black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: inline-block;
  margin-left: 2%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content p {
  color: black;
  padding: 2%;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {cursor:pointer;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
